* {
  padding: none;
  border: none;
  box-sizing: border-box;
  outline: none;
  user-select: none;
  margin: 0px;
  font-family: "Mulish-Regular", sans-serif;
  font-size: 12px;
}
a {
  text-decoration: none;
}
:root {
  --max-view: 1135px;
  --max-width: 783px;
  --item-menu-color: #328fcb;
  --item-active-color: #f7b600;
  --fundo1: #ebebeb;
  --btn-color: #f7b600;
  --blue-color: #00529c;
  --footer-text-color: #eaeaea;
}

/*Body*/
body {
  padding-top: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
}

/*Header*/
.container-header {
  max-width: 4893.75%;
  padding-top: 41px;
  height: 140px;
  padding-left: 17px;
  padding-right: 17px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 40px;
  min-width: 1078.03px;
}

body header {
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.03);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background: white;
}

.div-social {
  text-align: right;
  margin-bottom: -10px;
}

.div-menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.list-menu {
  display: flex;
}

.list-menu a {
  white-space: nowrap;
  color: var(--item-menu-color);
  text-decoration: none;
}

.sub-menu a:hover {
  color: var(--item-active-color);
}
.sub-menu a {
  margin-bottom: 30px;
  color: white;
  font-size: 14px;
}
.sub-menu > div {
  margin-bottom: 30px;
  z-index: 10;
}

.sub-menu:hover,
.list-menu > div > a:hover ~ .sub-menu {
  visibility: visible !important;
  z-index: 5 !important;
  transition: 0.4s;
}

.content-sub {
  width: 100px;
  position: absolute;
  margin-top: -44px;
  margin-left: -10px;
  width: 100%;
  height: 100px;
  z-index: -1;
}

.sub-menu {
  visibility: hidden;
  z-index: -5;
  margin-left: -19px;
  margin-top: 34px;
  padding: 4px 10px;
  padding-top: 24px;
  position: absolute;
  border-radius: 20px;
  left: 0;
  top: 0;
  background-color: rgba(0, 82, 156, 70%);
}

.list-menu > div {
  position: relative;
  margin-left: 25px;
}

.item.active > a {
  font-size: 14px;
  color: var(--item-active-color);
}

.div-logo {
  margin-right: 70px;
}

.item-social {
  display: flex;
  justify-content: flex-end;
}

.item-social a {
  margin-left: 10px;
}
.item-social img {
  width: 20px;
}

.item-social a:last-child img {
  width: 25px;
}

/*--*/

.div-space {
  background-color: red;
  height: 10px;
}

.sec-slide {
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  width: 100%;
  height: 691px;
  background-color: var(--fundo1);
  height: calc(100vh - 140px);
  margin-bottom: 72px;
}

.container-slide {
  position: relative;
  display: flex;
  flex: 1;
  overflow: hidden;
}

.img-slider-container {
  transition: 0.1s;
  transform: scale(1.6);
  width: 100%;
  height: 100%;
}

.art-btn-slide {
  display: flex;
}

.art-btn-slide:last-child {
  margin-right: 0px;
}

.art-btn-slide .btn-slide {
  cursor: pointer;
  border: 6px solid white;
  background-color: #ccd0dd;
  margin-right: 6px;
  width: 23px;
  height: 23px;
  border-radius: 23px;
}

.art-btn-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  height: 60px;
  width: 100%;
}

.btn-slide.active {
  background-color: #e7b51e;
}

.black-form {
  color: white;
  width: 519px;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  padding-right: 91px;
}

.black-form h1 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 40px;
}

.black-form p {
  line-height: 35px;
  font-style: italic;
  font-size: 17px;
}

.black-form > div:first-child {
  margin-bottom: 50px;
}

.btn-saiba-mais {
  cursor: pointer;
  padding: 0px 23px;
  border-radius: 23px;
  color: white;
  font-size: 16px;
  height: 43px;
  background-color: var(--btn-color);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
}

.sec-destaque {
  min-width: var(--max-view);
  max-width: var(--max-view);
  display: flex;
  margin-bottom: 50px;
}

.sec-div-destaque img {
  width: 100%;
  height: 100%;
}

.sec-div-destaque {
  margin-right: 3px;
  width: 292px;
}

.sec-div-destaque:last-child {
  margin-right: 0px;
}

.btn-destaque {
  width: 48px;
  height: 48px;
  margin-bottom: -24.5px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 48px;
  margin-left: 30px;
  cursor: pointer;
  color: white;
  background-color: var(--btn-color);
  font-size: 25px;
}

.img-slide-container {
  height: 241px;
  position: relative;
}

.info-destaque {
  padding-left: 21px;
  padding-top: 38px;
}

.info-destaque h1 {
  margin-bottom: 20px;
  font-size: 12pt;
  color: #328fcb;
}

.info-destaque p {
  text-align: left;
  width: 230px;
  font-size: 17px;
  color: #1d190f;
}

.back-form1 {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  background-color: black;
  width: 50%;
  opacity: 65%;
}

.back-container {
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  height: 100%;
  width: 50%;
  padding-bottom: 70px;
  display: flex;
  justify-content: flex-end;
}
.sec-div-destaque {
  cursor: pointer;
}

.sec-div-destaque:hover .btn-destaque {
  transition: 0.5s;
  background-color: var(--blue-color) !important;
}

.btn-conhecer {
  box-shadow: 0px 0px 5px rgb(162 160 160 / 33%);
  padding: 0 21px;
  height: 44px;
  cursor: pointer;
  border-radius: 44px;
  margin-bottom: 80px;
  color: white;
  width: 256px;
  font-size: 15px;
  background-color: var(--btn-color);
}

.sec-eclisse {
  display: flex;
  justify-content: center;
  height: 455px;
  width: 100%;
  background-color: #efefef;
}
.sec-div-eclisse {
  width: var(--max-view);
  height: 100%;
  display: flex;
}

.art-info-1 h1 {
  color: white;
}
.art-info-1 h2 {
  font-size: 30px;
  color: var(--item-menu-color);
}

.p-info {
  color: #606060;
  margin-top: 23px;
  font-size: 30px;
  margin-bottom: 53px;
}

.art-info-1 > div {
  padding-top: 43px;
  width: 365px;
  margin-right: 52px;
}

.art-info-1 p {
  color: #343434;
  font-size: 17px;
  text-align: left;
}

.iframe-video {
  width: 680px;
  background-color: black;
  height: 383px;
}

.sec-dest {
  background-color: var(--blue-color);
  height: 423px;
  width: 100%;
  display: flex;
  padding-bottom: 41px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.btn-conhecer.t {
  margin-top: -22px;
  width: 128px;
  margin-bottom: 51px;
}
.card-dest {
  margin-right: 7px;
  height: 307.07px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 289px;
}

.container-dest {
  display: flex;
}

.dist-img {
  height: 57px;
  margin-bottom: 44px;
}
.dist-img ~ div {
  width: 100%;
}

.dest-info-more {
  padding: 0 23px;
}
.dest-info-more p {
  font-size: 20px;
  color: white;
  text-align: center;
}
.btn-conhecer.a {
  border-radius: 15px;
  margin-bottom: 20px;
  width: 100%;
}

.news-title {
  font-size: 25px;
  color: #606060;
  margin-bottom: 32px;
}

.sec-div-destaque.t {
  width: 389px;
}

.sec-div-destaque h1 {
  font-size: 20px;
  font-weight: normal !important;
}

.title-card-sty.t {
  margin-bottom: 20px;
  font-size: 20px;
  color: #328fcb;
}

.sec-eclisse.r {
  background-color: #eaeaea;
  height: 213px;
}

.sec-eclisse.footer {
  background-color: #00529c;
  height: 33px;
}

.sec-div-eclisse.t {
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.lbl-copy-right {
  font-size: 12px;
  color: var(--footer-text-color);
}

.spn-des {
  margin-right: 8px;
  color: var(--footer-text-color);
}

.img-logo-footer {
  height: 60px;
}

.title-label-footer {
  color: var(--blue-color);
  font-size: 16px;
}

.line-footer {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.line-footer img {
  margin-right: 15px;
}

.item-footer {
  margin-bottom: 44px;
}

.lbl-dark,
.icon-tel-lbl {
  font-size: 20px;
  color: #606060;
}

.lbl-dark {
  font-size: 18px;
}

.spn-phone {
  font-size: 16px;
}

.item-social.t.a {
  margin-bottom: 137px;
}

.sec-div-eclisse.t.a {
  padding-top: 44px;
}

.btn-conhecer.t.a {
  margin: 0px;
  margin-top: 40px;
  white-space: nowrap;
}
